:root {
    font-size: 20px;
    font-family: Helvetica;
}

body {
    background-image: conic-gradient(
        #0f2257,
        #1d41a5,
        #1d3782,
        #90f1fe,
        #1145c1,
        #06153e,
        #06153e
    );
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    align-items: center;
}
#container {
    margin: 100vh 0;
    margin-left:auto;
    margin-right:auto;
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: -1.2px;
    color: #fff;
    line-height: 1.22em;
    width: 800px;
}
span {
    --opacity: 0.3;
    opacity: var(--opacity);
}
a{
    text-decoration: none;
    color: #fff;
} 
a:hover {
    text-decoration: none;
    color: #fff;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a:checked {
    text-decoration: none;
    color: #fff;
}